{% extends 'base.html' %}

{% block title %}How to Post Items{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="text-center tnc">
            <h2>How to Post Items</h2>
            <p>1. Click on My Account at the top navigation bar and register if you are a new user.</p>
            <p>2. Click on new item on the navigation bar and fill in the details.</p>
            <p>3. After adding the details, click on "Add new item"</p>
            <p>4. Congratulations! Your item has been uploaded.</p><br/>
        </div>
    </div>
{% endblock %}