{% extends 'base.html' %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block main_content %}
    <div class="slider">
	  <div class="callbacks_container">
	      <ul class="rslides" id="slider">
	        <li><img src="{% static 'images/banner.jpg' %}" class="img-responsive" alt=""/></li>
	        <li><img src="{% static 'images/banner1.jpg' %}" class="img-responsive" alt=""/></li>
	        <li><img src="{% static 'images/banner4.jpg' %}" class="img-responsive" alt=""/></li>
	      </ul>
	  </div>
    </div>
    <div class="content_bottom">
        <div class="container">
            <br/>
            <h3 class="text-center">Latest Books</h3>
            <div class="product_box1">
                <ul class="grid-4">
                    {% for book in books %}
                        <li>
                            <div class="view view-first spaced">
                                <img src="/media/{{ book.thumbnail }}" class="img-responsive centered" alt=""/>

                                <div class="tab_desc">
                                    <h3>{{ book.title }}</h3>

                                    <p>₹ {{ book.price }}</p>
                                    <a href="{% url 'show:item' book.id %}" class="btn1 btn-primary1"><span>View</span></a>
                                </div>
                            </div>
                            {% if book.sold %}<div class="sold-box1"></div>{% endif %}
                        </li>
                    {% endfor %}
                    <div class="clearfix"></div>
                </ul>
                <a href="{% url 'show:books' 1 %}"><h4 class="text-center orange">View More books</h4></a>
            </div>
            {% if stationary %}
            <h3 class="text-center">Latest Stationary Items</h3>
            <div class="product_box1">
                <ul class="grid-4">
                    {% for st in stationary %}
                        <li>
                            <div class="view view-first spaced">
                                <img src="/media/{{ st.thumbnail }}" class="img-responsive centered" alt=""/>

                                <div class="tab_desc">
                                    <h3>{{ st.title }}</h3>

                                    <p>₹ {{ st.price }}</p>
                                    <a href="{% url 'show:item' st.id %}" class="btn1 btn-primary1"><span>View</span></a>
                                </div>
                            </div>
                            {% if st.sold %}<div class="sold-box1"></div>{% endif %}
                        </li>
                    {% endfor %}
                    <div class="clearfix"></div>
                </ul>
                <a href="{% url 'show:stationary' 1 %}"><h4 class="text-center orange">View More Stationary Items</h4></a>
            </div>
            {% endif %}
            {% if others %}
            <h3 class="text-center">Latest Other Items</h3>
            <div class="product_box1">
                <ul class="grid-4">
                    {% for other in others %}
                        <li>
                            <div class="view view-first spaced">
                                <img src="/media/{{ other.thumbnail }}" class="img-responsive centered" alt=""/>

                                <div class="tab_desc">
                                    <h3>{{ other.title }}</h3>

                                    <p>₹ {{ other.price }}</p>
                                    <a href="{% url 'show:item' other.id %}" class="btn1 btn-primary1"><span>View</span></a>
                                </div>
                            </div>
                            {% if other.sold %}<div class="sold-box1"></div>{% endif %}
                        </li>
                    {% endfor %}
                    <div class="clearfix"></div>
                </ul>
                <a href="{% url 'show:others' 1 %}"><h4 class="text-center orange">View More Other Items</h4></a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block about %}
    <div class="grid-1">
        <div class="container">
            <h1>About JMImart</h1>

            <p>Welcome to JMImart!</p>
            <p>The purpose of this website is to enable students to sell stuff they might no longer
                require. There are various old books and stationary items such as drafters that become
                useless as we proceed with our education. Instead of discarding them, such things can be
                sold to junior students.
            </p>
            <p>This website has been made by Zishan Ahmad, BTech Computer Engg., 4th year.
                Feel free to contact me if you want any added features in the website or if you
                encounter some errors.
            </p>
        </div>
    </div>
{% endblock %}

{% block ad %}
{#    <a href="http://www.freedomain.co.nr/" target="_blank" title="Free Domain Registration" rel="nofollow"><img src="http://rnccosa.imdrv.net/animg7.gif" width="88" height="31" border="0" alt="Free Domain Registration" /></a>#}
{% endblock %}