{% extends 'base.html' %}

{% block title %}Terms and Conditions{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="text-center tnc">
            <h2>Terms and Conditions</h2>
            <p>JMImart is only a medium to post ads about the availability of items for sale
                and is not in any way responsible for the quality of those items.
                The buyer must make sure that the item is of sound quality before making the purchase.
                JMImart will not be responsible for any kind of loss incurred in the transaction.
                Also, items are uploaded by different users and so JMImart is not responsible for
                any items that are uploaded and does not take any responsibility of them.
            </p><br/>
        </div>
    </div>
{% endblock %}