{% extends 'user/base.html' %}

{% block login %}
    <a class="login" href="{% url 'user:login' %}">
        <i class="user"></i>
        <li class="user_desc">My Account</li>
    </a>
{% endblock %}


{% block main_content %}
    <div class="contact">
        <div class="container">
            <div class="register">
                <form id="student_form" method="post" action="{% url 'user:register' %}">
                    {% csrf_token %}
                    <div class="register-top-grid">
                        <h3>PERSONAL INFORMATION</h3>

                        <div>
                            <span>First Name<label>*</label></span>
                            <input type="text" name="first_name" id="id_first_name">
                        </div>
                        <div>
                            <span>Last Name<label>*</label></span>
                            <input type="text" name="last_name" id="id_last_name">
                        </div>
                        <div>
                            <span>Email Address<label>*</label></span>
                            <input type="text" name="email" id="id_email">
                            {% if student_form.email.errors %}
                                {% for error in student_form.email.errors %}
                                    <small class="error">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            <span>Username<label>*</label></span>
                            <input type="text" name="username" id="id_username"><br/>
                            {% if student_form.username.errors %}
                                {% for error in student_form.username.errors %}
                                    <small class="error">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            <span>Mobile<label>*</label></span>
                            <input type="text" name="mobile" id="id_mobile" >
                        </div>
                        <div class="clearfix"></div>
                        <a class="news-letter" href="#">
                            <label class="checkbox"><input type="checkbox" name="newsletter" id="id_newsletter" checked="checked"><i> </i>Sign Up
                                for Newsletter</label>
                        </a>
                    </div>
                    <div class="register-bottom-grid">
                        <h3>LOGIN INFORMATION</h3>

                        <div>
                            <span>Password<label>*</label></span>
                            <input type="password" name="password" id="id_password">
                            {% if student_form.password.errors %}
                                {% for error in student_form.password.errors %}
                                    <small class="error">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            <span>Confirm Password<label>*</label></span>
                            <input type="password" name="confirm_password">
                        </div>
                    </div>
                    <div class="register-but">
                        <input type="submit" value="submit" name="submit">
                        <div class="clearfix"></div>
                    </div>
                </form>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
{% endblock %}