{% extends 'user/base.html' %}
{% block title %}View Items | JMImart{% endblock %}

{% block login %}
    <a class="login" href="{% url 'user:logout' %}">
        <i class="user"></i>
        <li class="user_desc">Logout</li>
    </a>
{% endblock %}


{% block main_content %}
    <div class="container">
        <div class="text-center space-above">
            {% if student.item_count == 0 %}
                <p>No items to display</p>
            {% else %}
                <div class="product_box1">
                    <ul class="grid-4">
                        {% for item in items %}
                            <li>
                                <div class="view">
                                    <img src="/{{ item.thumbnail }}" class="img-responsive centered big" alt=""/>
                                    <div class="product_mask"></div>
                                    <div class="tab_desc1">
                                        <h3>{{ item.title }}</h3>
                                        <p>₹ {{ item.price }}</p>
                                        <a href="{% url 'user:item' item.id %}" class="btn1 btn-primary1">
                                            <span>View</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    <br/>
    </div>
{% endblock %}