{% extends 'users/base.html' %}
{% block title %}Profile - {{ user.first_name }} {{ user.last_name }} | JMImart{% endblock %}

{% block login %}
    <a class="login" href="{% url 'user:logout' %}">
        <i class="user"></i>
        <li class="user_desc">Logout</li>
    </a>
{% endblock %}

{% block main_content %}
    <div class="contact">
        <div class="container">
            {% if password_changed %}
                <p class="bg-success text-center spaced">Password changed!</p>
            {% endif %}
            {% if wrong_password %}
                <p class="bg-danger text-center spaced">Wrong current Password entered. Please try again.</p>
            {% endif %}
            {% if not_same %}
                <p class="bg-danger text-center spaced">New Passwords do not match. Please try again.</p>
            {% endif %}
            <div class="register">
                <form id="change_password_form" method="post" action="{% url 'user:change_password' %}">
                    {% csrf_token %}
                    <div class="register-top-grid pwd-change">
                        <h3>CHANGE PASSWORD</h3>
                        <div>
                            <span>Current Password</span>
                            <input type="password" name="current_password" id="id_current_password" value="">
                        </div>
                        <div>
                            <span>New Password</span>
                            <input type="password" name="password" id="id_password" value="">
                        </div>
                        <div>
                            <span>Retype Password</span>
                            <input type="password" name="retype_password" id="id_retype_password" value="">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="register-but">
                        <input type="submit" value="save" name="submit">
                        <div class="clearfix"></div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}