{% extends 'users/base.html' %}

{% block title %}Forgot Password | {% endblock %}

{% block login %}
    <a class="login" href="{% url 'user:login' %}">
        <i class="user"></i>
        <li class="user_desc">My Account</li>
    </a>
{% endblock %}

{% block main_content %}
    <div class="contact">
        <div class="container">
            <div class="account_grid">
                {% if sent_mail %}
                    <p class="bg-success text-center spaced text-success">Your Password has been reset! Please check your mail for
                    the new password.</p><br/>
                {% endif %}
            {% if invalid_user %}
                    <p class="bg-danger text-center spaced text-danger">Invalid Email id. Please entered your registered
                    Email id.</p><br/>
                {% endif %}
                <div class="col-md-6 login-right col-md-offset-3">
                    <h3>FORGOT PASSWORD</h3>

                    <p>Enter your email address to reset your password. Your new password will be sent to the
                        registered email id.</p>

                    <form id="forgot_password_form" method="post" action="{% url 'user:forgot_password' %}">
                        {% csrf_token %}
                        <div>
                            <span>Email Address</span>
                            <input type="text" name="email" id="id_email">
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}
