{% extends 'users/base.html' %}
{% block title %}Item | JMImart{% endblock %}

{% block login %}
    <a class="login" href="{% url 'user:logout' %}">
        <i class="user"></i>
        <li class="user_desc">Logout</li>
    </a>
{% endblock %}


{% block main_content %}
    <div class="single_top">
        <div class="container">
            <div class="single_grid">
                <div class="grid images_3_of_2">
                    <ul id="etalage">
                        <li>
                            <a href="optionallink.html">
                                <img class="etalage_thumb_image" src="/media/{{ item.image }}" class="img-responsive" max-height="950" max-width="760"/>
{#                                <img class="etalage_source_image" src="/{{ item.image }}" class="img-responsive" title=""/>#}
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="desc1 span_3_of_2">
                    <ul class="back">
                        <li><i class="back_arrow"> </i>Back to <a href="{% url 'user:view' %}">View Items</a></li>
                    </ul>
                    <h1>{{ item.title }}</h1>
                    <ul class="price_single">
                        <li class="head"><h2>₹ {{ item.price }}</h2></li>
                        <div class="clearfix"></div>
                    </ul>
                    {% if item.author %}
                        <h4>Author: {{ item.author }}</h4>
                    {% endif %}
                    {% if item.publisher %}
                        <h4>Publisher: {{ item.publisher }}</h4>
                    {% endif %}
                    <p>{{ item.description }}</p>
                    <br/>
                    <a href="{% url 'user:edit' item.id %}" class="btn1 btn2 btn-primary1"><span>Edit</span></a>&nbsp;&nbsp;
                    <a href="{% url 'user:delete' item.id %}" class="btn1 btn2 btn-primary1"><span>Delete</span></a>&nbsp;&nbsp;
                    {% if not item.sold %}
                        <a href="{% url 'user:sold' item.id %}" class="btn1 btn2 btn-primary1"><span>Mark Sold</span></a>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
