{% extends 'users/base.html' %}

{% block login %}
    <a class="login" href="{% url 'user:login' %}">
        <i class="user"></i>
        <li class="user_desc">My Account</li>
    </a>
{% endblock %}

{% block main_content %}
    <div class="contact">
        <div class="container">
            <div class="account_grid">
                <div class="col-md-6 login-left">
                    <h3>NEW SELLERS</h3>

                    <p>By creating an account with our store, you will be able to upload ads of various items
                        that you want to sell</p>
                    <a class="acount-btn" href="{% url 'user:register' %}">Create an Account</a>
                </div>
                <div class="col-md-6 login-right">
                    <h3>REGISTERED SELLERS</h3>

                    <p>If you have an account with us, please log in.</p>

                    <form id="login_form" method="post" action="{% url 'user:login' %}">
                        {% csrf_token %}
                        <div>
                            <span>Email Address<label>*</label></span>
                            <input type="text" name="email" id="id_email">
                            {% if login_form.username.errors %}
                                {% for error in login_form.username.errors %}
                                    <small class="error">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            <span>Password<label>*</label></span>
                            <input type="password" name="password" id="id_password">
                        </div>
                        <a class="forgot" href="{% url 'user:forgot_password' %}">Forgot Your Password?</a>
                        <input type="submit" value="Login">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}
