{% extends 'users/base.html' %}
{% block title %}New Item | JMImart{% endblock %}

{% block login %}
    <a class="login" href="{% url 'user:logout' %}">
        <i class="user"></i>
        <li class="user_desc">Logout</li>
    </a>
{% endblock %}


{% block main_content %}
    <div class="contact">
        <div class="container">
            <div class="register">
                <form id="student_form" method="post" action="{% url 'user:new' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="register-top-grid">
                        <h3 class="text-center">ADD NEW ITEM</h3>
                        <br/>
                        <div>
                            <span>Item Type*</span>
                            <select name="item_type" id="id_item_type">
                                <option value="book">Books</option>
                                <option value="stationary">Stationary</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                        <div id="book_inputs">
                            <div>
                                <span id="title_span">Title*</span>
                                <input type="text" name="title" id="id_title">
                            </div>
                            <div id="price_block">
                                <span>Price*</span>
                                <input type="text" name="price" id="id_price">
                            </div>
                            <div id="author_block">
                                <span>Author</span>
                                <input type="text" name="author" id="id_author">
                            </div>
                            <div id="publisher_block">
                                <span>Publisher</span>
                                <input type="text" name="publisher" id="id_publisher">
                            </div>
                        </div>

                        <div>
                            <span>Description</span>
                            <textarea name="description" id="id_description" cols="30" rows="10"></textarea>
                        </div>
                        <div>
                            <span>Condition</span>
                            <input type="text" name="condition" id="id_condition">
                            <br/><br/>
                            <span>Upload Image*</span>
                            <input type="file" name="image" id="id_image">
                        </div>
                        <div class="clearfix"></div>
                        <a class="news-letter" href="#" style="visibility: hidden;">
                            <label class="checkbox"><input type="checkbox"></label>
                        </a>
                    </div>
                    <div class="register-but">
                        <input type="submit" value="add new item" name="submit">
                        <div class="clearfix"></div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            function book_show() {
                var type = document.getElementById('id_item_type');
                if (type.options[type.selectedIndex].value == 'book') {
                    document.getElementById('title_span').textContent = 'TITLE';
                    $('#publisher_block').show();
                    $('#author_block').show();
                } else {
                    document.getElementById('title_span').textContent = 'NAME';
                    $('#publisher_block').hide();
                    $('#author_block').hide();
                }
            }

            $('#id_item_type').on('change', book_show);
        });
    </script>
{% endblock %}